
# Supabase URL - Your project URL
SUPABASE_URL=http://127.0.0.1:54321
# Get this from your Supabase project settings
# Secret key
SUPABASE_KEY=your_service_role_secret_key_here
# JWKS endpoint for JWT token verification
SUPABASE_JWKS_URL=http://127.0.0.1:54321/auth/v1/.well-known/jwks.json
JWT_ALGORITHM="ES256"

# JWT Secret - From your Supabase project (used for verification)
# Should match config
SUPABASE_JWT_SECRET="your_jwt_secret_here"

# Used for encrpyting payment cards
# Generate a random 32 byte key
APP_ENCRYPTION_KEY=your_32_byte_hex_encryption_key_here
